<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="/css/mystyles.css" />
  <script src="/js/snapshotFormCheckboxes.js" defer></script>
</head>
<body>
  <% include('navbar', { isLoggedIn }) %>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-centered is-fullwidth">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis
            similique a dolore, aperiam illum corrupti tempora consectetur
            placeat sunt ab molestias enim modi itaque illo voluptatem
            praesentium? Distinctio, nam ducimus.
          </p>
          <h1>Add a Snapshot</h1>
          <form id="snapshot-form" action="/newsnapshot" method="POST">
            <% const sliders = [
              { label: 'Enjoyment', id: 'enjoyment' },
              { label: 'Surprise', id: 'surprise' },
              { label: 'Contempt', id: 'contempt' },
              { label: 'Sadness', id: 'sadness' },
              { label: 'Fear', id: 'fear' },
              { label: 'Disgust', id: 'disgust' },
              { label: 'Anger', id: 'anger' }
            ];
            sliders.forEach(slider => { %>
              <div class="field">
                <label class="label" for="<%= slider.id %>"><%= slider.label %>:</label>
                <div class="control slider-container">
                  <input
                    class="slider is-fullwidth"
                    type="range"
                    id="<%= slider.id %>"
                    name="<%= slider.id %>"
                    min="0"
                    max="10"
                    value="0"
                  />
                  <output
                    for="<%= slider.id %>"
                    id="output-<%= slider.id %>"
                    class="slider-value"
                  >0</output>
                </div>
              </div>
            <% }); %>
            <div class="field">
              <div class="control">
                <label class="label">Triggers:</label>
                <div class="trigger-container">
                  <% triggers.forEach((trigger, index) => { %>
                    <div class="trigger">
                      <input
                        class="trigger-checkbox"
                        type="checkbox"
                        id="trigger<%= index %>"
                        data-trigger="<%= trigger.trigger_name %>"
                        name="triggers"
                      >
                      <label for="trigger<%= index %>"><%= trigger.trigger_name %></label>
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="notes">Notes:</label>
              <div class="control">
                <textarea class="textarea" id="notes" name="notes" placeholder="Enter your notes here"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script>
    // Update output values when sliders are changed
    const sliders = document.querySelectorAll('input[type="range"]');
    sliders.forEach((slider) => {
      const output = document.getElementById(`output-${slider.id}`);
      output.textContent = slider.value;
      slider.addEventListener("input", () => {
        output.textContent = slider.value;
      });
    });
  </script>
</body>
</html>
