<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Snapshot</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/mystyles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/confirmDelete.js"></script>    
  </head>
  <body>
    <%- include('navbar') %>
    <section class="section">
        <%- result[0].snapshot_ID %>
        <div class="container">
            


            <h1>Single Snapshot Placeholder</h1>
            <% for (let row of result) { %>
                <% var id = row.snapshot_ID; %>
            
                <% var enjoyment = row.enjoyment_level; %>
                <% var surprise = row.surprise_level; %>
                <% var contempt = row.contempt_level; %>
                <% var fear = row.fear_level; %>
                <% var sadness = row.sadness_level; %>
                <% var disgust = row.disgust_level; %>
                <% var anger = row.anger_level; %>
                <% var notes = row.notes; %>
            
                <p>ID: <%= id %></p>
              
                <p>Enjoyment Level: <%= enjoyment %></p>
                <p>Surprise Level: <%= surprise %></p>
                <p>Contempt Level: <%= contempt %></p>
                <p>Fear Level: <%= fear %></p>
                <p>Sadness Level: <%= sadness %></p>
                <p>Disgust Level: <%= disgust %></p>
                <p>Anger Level: <%= anger %></p>
            <% } %>
        </div>
        <div class="column is-centered is-fullwidth">
            <% const date = new Date(result[0].timestamp); %> <% const
            formattedDate = date.toLocaleDateString('en-GB', { weekday: 'long',
            year: 'numeric', month: 'long', day: 'numeric' }); %> <% const
            formattedTime = date.toLocaleTimeString('en-GB', { hour: 'numeric',
            minute: 'numeric', hour12: true }); %> <% const formattedDateTime =
            `${formattedDate} at ${formattedTime}`; %>
            <h1 class="main-title"><%= formattedDateTime %></h1>
        </div>


        <div class="columns is-centered">
            <div class="column is-half">
                <canvas id="emotionChart" width="600" height="400"></canvas>
            </div>
        </div>
        <div >
        <h1>Triggers:</h1>
    </div>

        <div class="trigger-container">
            
            <% triggers.forEach((trigger) => { %>
              <div class="card trigger-card">
                <div class="card-content">
                  <p ><%= trigger.trigger_name %></p>
                </div>
              </div>
            <% }); %>
          </div>
            <div class="column is-half">              
                <div class="notes-box">                    
                    <% if (notes) { %>
                        <p><%= notes %></p>
                    <% } else { %>
                        <p>No notes available</p>
                    <% } %>
                </div>
            </div>
            <a href="/editsnapshotcheckbox/<%= result[0].snapshot_ID %>" class="button mybutton">Edit Snapshot</a>

        
            <button type="button" class="button mybutton" id="deleteButton">Delete Snapshot</button>
            <form id="deleteForm" action="/delsnapshot/<%= id %>" method="post" style="display: none;">
            
            </form>
       
    </section>
   
    <script>

document.getElementById('deleteButton').addEventListener('click', confirmDelete);

        // Data from your EJS template
        const result = <%- JSON.stringify(result) %>;

        // Extracting levels from the first row (assuming all rows have the same levels)
        const row = result[0];
        const enjoyment_level = row.enjoyment_level;
        const surprise_level = row.surprise_level;
        const contempt_level = row.contempt_level;
        const fear_level = row.fear_level;
        const sadness_level = row.sadness_level;
        const disgust_level = row.disgust_level;
        const anger_level = row.anger_level;

        // Chart.js configuration
        const ctx = document.getElementById('emotionChart').getContext('2d');
        const chartconfig = {
            type: 'bar',
            data: {
                labels: ["enjoyment", "surprise", "contempt", "fear", "sadness", "disgust", "anger"],
                datasets: [
                    {
                        label: '',
                        data: [enjoyment_level, surprise_level, contempt_level, sadness_level, fear_level, disgust_level, anger_level],
                        backgroundColor: [
                            '#E69F00', // Orange
                            '#56B4E9', // Sky Blue
                            '#009E73', // Bluish Green                            
                            '#0072B2', // Blue
                            '#F0E442', // Yellow
                            '#D55E00', // Vermillion
                            '#CC79A7'  // Reddish Purple
                        ]
                    }
                ]
            },
            options: {
                responsive: true,
                animation: true,
                maintainAspectRatio: true,
                scales: { y: { min: 0, max: 10 } },
                plugins: {
                    legend: { display: false },
                    tooltips: { enabled: true },
                    title: {
                        display: true,
                        text: 'Emotion Levels',
                        font: { size: 20 }
                    }
                }
            }
        };
        const emotionChart = new Chart(ctx, chartconfig);
    </script>
  </body>
</html>
